.blog-article-content
  margin: 0 20px

.blog-article-content
  h2
    font-size: 22px
    font-weight: bold

  h3
    font-size: 16px
    font-weight: bold

  p
    margin-bottom: 14px

  img
    display: block
    margin: 40px auto
    border: #ffffff 8px solid
  ul
    margin: 10px

  li
    line-height: 1.4

  .highlight
    margin: 40px
    vertical-align: top
    font-family: 'Ubuntu Mono'
    border: $keycolor-02 1px solid
    border-left: $keycolor-02 10px solid

  .highlight .gutter
    padding: 5px 20px
