%nav.global-nav
  %ul.global-nav__lists
    %li= link_to("home", "/", class: "global-nav__link")
    %li= link_to("about", "/pages/about", class: "global-nav__link")
    %li= link_to("works", "#", class: "global-nav__link")
