%nav.sns-links
  %ul.sns-links__lists
    %li= link_to("", "https://twitter.com/moriko_o", class: "fa fa-twitter sns-links__link")
    %li= link_to("", "https://www.facebook.com/moritamoriko", class: "fa fa-facebook sns-links__link")
    %li= link_to("", "https://github.com/moritamoriko", class: "fa fa-github-alt sns-links__link")
