@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
/* line 5, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/moriko/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
body {
  background-color: #f3f7f7;
  font-family: Gill Sans, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  color: #555555; }
  @media screen and (max-width: 767px) {
    /* line 1, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
    body {
      font-size: 14px; } }

/* line 11, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
img {
  max-width: 100%;
  height: auto; }

/* line 15, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.main-contents {
  margin: 0 auto;
  width: 1200px; }

/* line 19, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
header {
  margin: 0 auto;
  text-align: center; }

/* line 23, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.header__image {
  margin-top: 30px;
  margin-bottom: 10px; }

/* line 27, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.header__title {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: #ff5e95;
  line-height: 34px; }

/* line 34, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.header__white {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #ff5e95; }

/* line 40, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.nav {
  text-align: center;
  margin-bottom: 40px; }

/* line 44, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.nav__lists {
  font-size: 24px;
  color: #4f4f4f; }

/* line 48, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.nav__lists li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  /* line 50, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
  .nav__lists li:after {
    content: " |"; }
  /* line 53, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
  .nav__lists li:last-child:after {
    content: none; }

/* line 56, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.nav__link {
  color: #4f4f4f;
  text-decoration: underline; }

/* line 60, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.footer-contents {
  min-height: 300px;
  margin-top: 40px;
  background: #ebf2f2 url("/images/fotter-contents_bg.png") repeat-x; }

/* line 65, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.aside {
  margin: 0 auto;
  width: 1200px; }

/* line 69, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.aside__contents {
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

/* line 73, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.aside__menu {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  width: 33%; }

/* line 79, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.menu__title {
  color: #ff5e95;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 14px; }

/* line 85, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.menu__lists {
  line-height: 2; }

/* line 88, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.menu__link {
  color: #4f4f4f;
  text-decoration: underline; }

/* line 92, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_layout.css.sass */
.footer {
  display: block;
  background-color: #ebf2f2;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center; }

/* line 1, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry {
  margin-bottom: 40px; }

/* line 4, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__time {
  font-size: 24px;
  color: #89ff3e; }

/* line 8, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__title {
  color: #ff5e95;
  margin-bottom: 10px; }

/* line 12, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__link {
  font-size: 30px;
  font-weight: bold;
  color: #ff5e95;
  text-decoration: none; }

/* line 18, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__article {
  font-size: 16px;
  line-height: 2; }

/* line 22, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__footer {
  margin-top: 20px;
  text-align: right; }

/* line 26, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
.blog-entry__read-more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 160px;
  height: 50px;
  background-color: #ff5e95;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer; }
  /* line 38, /Users/moriko/Site/github/moritamoriko.github/source/stylesheets/_index.css.sass */
  .blog-entry__read-more:hover {
    background-color: #ff72a2;
    text-decoration: none; }
